# Eclipse
.project
.classpath
.settings/

# IntelliJ
*.iml
*.ipr
*.iws
.idea

# Gradle
.gradle/
.ivy/

# Maven
target/

# TestNG
test-output/

# Logs
*.log
*.log~

# Libreoffice leftovers (XLS)
.~lock*

atlassian-ide-plugin.xml
